# Pyspark code Testing - 4
# Filtering using AND OR NOT

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Testing_3').getOrCreate()

23/12/18 19:33:06 WARN Utils: Your hostname, Soumobratas-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.2 instead (on interface en0)
23/12/18 19:33:06 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/18 19:33:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/12/18 19:33:08 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [6]:
spark

In [7]:
spark.read.csv('sample_dataframe.csv',header=True,inferSchema=True)

DataFrame[Name: string, Age: int, City: string]

In [8]:
spark.read.csv('sample_dataframe.csv',header=True,inferSchema=True).show()

+---------+----+---------+
|     Name| Age|     City|
+---------+----+---------+
|    Soumo|  23|Bangalore|
|  Subrata|  53|  Chennai|
|Anindita |  50|  Chennai|
|  Purnima|NULL|Bangalore|
|      Uma|  80|     NULL|
+---------+----+---------+

In [9]:
df_pyspark = spark.read.csv('sample_dataframe.csv',header=True,inferSchema=True)

In [10]:
df_pyspark.show()

+---------+----+---------+
|     Name| Age|     City|
+---------+----+---------+
|    Soumo|  23|Bangalore|
|  Subrata|  53|  Chennai|
|Anindita |  50|  Chennai|
|  Purnima|NULL|Bangalore|
|      Uma|  80|     NULL|
+---------+----+---------+

Filer Operations

In [11]:
df_pyspark.filter("Age<=30").show()

+-----+---+---------+
| Name|Age|     City|
+-----+---+---------+
|Soumo| 23|Bangalore|
+-----+---+---------+

Filter Operation with specific Columns

In [14]:
df_pyspark.filter('Age<=30').select(['Name','City']).show()

+-----+---------+
| Name|     City|
+-----+---------+
|Soumo|Bangalore|
+-----+---------+

Filtering dataframe with multiple conditions

AND Operation

In [18]:
df_pyspark.filter((df_pyspark['Age']<=30) & (df_pyspark['Age']<=80)).show()

+-----+---+---------+
| Name|Age|     City|
+-----+---+---------+
|Soumo| 23|Bangalore|
+-----+---+---------+

OR Operation

In [19]:
df_pyspark.filter((df_pyspark['Age']<=30) | (df_pyspark['Age']<=80)).show()

+---------+---+---------+
|     Name|Age|     City|
+---------+---+---------+
|    Soumo| 23|Bangalore|
|  Subrata| 53|  Chennai|
|Anindita | 50|  Chennai|
|      Uma| 80|     NULL|
+---------+---+---------+

NOT Operation

In [20]:
df_pyspark.filter(~(df_pyspark['Age']<=30) & (df_pyspark['Age']<=80)).show()

+---------+---+-------+
|     Name|Age|   City|
+---------+---+-------+
|  Subrata| 53|Chennai|
|Anindita | 50|Chennai|
|      Uma| 80|   NULL|
+---------+---+-------+