# PySpark_Coding_Testing_2
# Basic Simple Operations - Reading , Renaming dataframe

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

23/12/17 20:46:57 WARN Utils: Your hostname, Soumobratas-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.9 instead (on interface en0)
23/12/17 20:46:57 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/17 20:46:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/12/17 20:47:00 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/12/17 20:47:00 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [3]:
spark

Read the dataset

In [4]:
spark.read.option('header','true').csv('hr_data.csv')

DataFrame[SLNO: string, Candidate Ref: string, DOJ Extended: string, Duration to accept offer: string, Notice period: string, Offered band: string, Pecent hike expected in CTC: string, Percent hike offered in CTC: string, Percent difference CTC: string, Joining Bonus: string, Candidate relocate actual: string, Gender: string, Candidate Source: string, Rex in Yrs: string, LOB: string, Location: string, Age: string, Status: string]

In [5]:
spark.read.option('header','true').csv('hr_data.csv').show()

+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+---+----------+
|SLNO|Candidate Ref|DOJ Extended|Duration to accept offer|Notice period|Offered band|Pecent hike expected in CTC|Percent hike offered in CTC|Percent difference CTC|Joining Bonus|Candidate relocate actual|Gender| Candidate Source|Rex in Yrs|       LOB| Location|Age|    Status|
+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+---+----------+
|   1|      2110407|         Yes|                      14|           30|          E2|                     -20.79|                      13.16|                 42.86|           No|                       No|Female|           Agency|         7|       ERS|    Noida| 34|    Joined|
|   2|      2112635|          No|                      18|           30|          E2|                         50|                        320|                   180|           No|                       No|  Male|Employee Referral|         8|     INFRA|  Chennai| 34|    Joined|
|   3|      2112838|          No|                       3|           45|          E2|                      42.84|                      42.84|                     0|           No|                       No|  Male|           Agency|         4|     INFRA|    Noida| 27|    Joined|
|   4|      2115021|          No|                      26|           30|          E2|                      42.84|                      42.84|                     0|           No|                       No|  Male|Employee Referral|         4|     INFRA|    Noida| 34|    Joined|
|   5|      2115125|         Yes|                       1|          120|          E2|                      42.59|                      42.59|                     0|           No|                      Yes|  Male|Employee Referral|         6|     INFRA|    Noida| 34|    Joined|
|   6|      2117167|         Yes|                      17|           30|          E1|                      42.83|                      42.83|                     0|           No|                       No|  Male|Employee Referral|         2|     INFRA|    Noida| 34|    Joined|
|   7|      2119124|         Yes|                      37|           30|          E2|                      31.58|                      31.58|                     0|           No|                       No|  Male|Employee Referral|         7|     INFRA|    Noida| 32|    Joined|
|   9|      2127572|         Yes|                      16|            0|          E1|                        -20|                        -20|                     0|           No|                       No|Female|           Direct|         8|Healthcare|    Noida| 34|    Joined|
|  11|      2138169|          No|                       1|           30|          E1|                     -22.22|                     -22.22|                     0|           No|                       No|Female|Employee Referral|         3|      BFSI|  Gurgaon| 26|    Joined|
|  12|      2143362|          No|                       6|           30|          E1|                        240|                        220|                 -5.88|           No|                       No|  Male|Employee Referral|         3|      CSMP|  Chennai| 34|    Joined|
|  13|      2151180|          No|                     120|           30|          E2|                       5.26|                     -60.53|                 -62.5|           No|                       No|  Male|Employee Referral|         3|     INFRA|    Noida| 34|Not Joined|
|  14|      2154264|          No|                       3|            0|          E2|                      28.21|                      37.18|                     7|           No|                       No|  Male|Employee Referral|         7|     INFRA|  Chennai| 34|    Joined|
|  15|      2156236|         Yes|                      14|           30|          E2|                         50|                      287.5|                158.33|           No|                       No|  Male|           Agency|         7|     INFRA|    Noida| 29|Not Joined|
|  16|      2158703|          No|                      44|           75|          E2|                      45.45|                         60|                    10|           No|                       No|  Male|           Direct|         8|     INFRA|    Noida| 34|Not Joined|
|  17|      2161257|          No|                       7|           30|          E3|                      53.85|                         50|                  -2.5|           No|                       No|  Male|Employee Referral|         5|     INFRA|    Noida| 34|Not Joined|
|  18|      2162487|          No|                       1|           30|          E3|                     -27.31|                     -27.31|                     0|           No|                       No|  Male|           Direct|        18|       ETS|Bangalore| 34|    Joined|
|  19|      2166041|         Yes|                      98|           30|          E2|                         50|                     165.36|                 76.91|           No|                       No|  Male|           Agency|         8|     INFRA|    Noida| 36|Not Joined|
|  20|      2172982|          No|                       1|            0|          E2|                         30|                         30|                     0|           No|                       No|  Male|           Direct|         6|     INFRA|    Noida| 34|    Joined|
|  21|      2173730|          No|                       1|           30|          E1|                     -13.42|                      42.86|                    65|           No|                       No|  Male|           Direct|         1|     INFRA|  Gurgaon| 34|    Joined|
|  22|      2175237|          No|                       7|           30|          E1|                     221.43|                     164.29|                -17.78|           No|                       No|  Male|           Direct|         2|       ERS|    Noida| 34|    Joined|
+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+---+----------+
only showing top 20 rows

In [6]:
df_pyspark = spark.read.option('header','true').csv('hr_data.csv',inferSchema=True)

Checking the schema

In [7]:
df_pyspark.printSchema()

root
 |-- SLNO: integer (nullable = true)
 |-- Candidate Ref: integer (nullable = true)
 |-- DOJ Extended: string (nullable = true)
 |-- Duration to accept offer: integer (nullable = true)
 |-- Notice period: integer (nullable = true)
 |-- Offered band: string (nullable = true)
 |-- Pecent hike expected in CTC: double (nullable = true)
 |-- Percent hike offered in CTC: double (nullable = true)
 |-- Percent difference CTC: double (nullable = true)
 |-- Joining Bonus: string (nullable = true)
 |-- Candidate relocate actual: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Candidate Source: string (nullable = true)
 |-- Rex in Yrs: integer (nullable = true)
 |-- LOB: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Status: string (nullable = true)

By deafult every columns are considering as string although it has integers so for that we have to add one more paramter as inferschema and set to true while reading th dataset

In [8]:
df_pyspark = spark.read.csv('hr_data.csv',header=True,inferSchema=True)

In [10]:
df_pyspark.show()

+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+---+----------+
|SLNO|Candidate Ref|DOJ Extended|Duration to accept offer|Notice period|Offered band|Pecent hike expected in CTC|Percent hike offered in CTC|Percent difference CTC|Joining Bonus|Candidate relocate actual|Gender| Candidate Source|Rex in Yrs|       LOB| Location|Age|    Status|
+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+---+----------+
|   1|      2110407|         Yes|                      14|           30|          E2|                     -20.79|                      13.16|                 42.86|           No|                       No|Female|           Agency|         7|       ERS|    Noida| 34|    Joined|
|   2|      2112635|          No|                      18|           30|          E2|                       50.0|                      320.0|                 180.0|           No|                       No|  Male|Employee Referral|         8|     INFRA|  Chennai| 34|    Joined|
|   3|      2112838|          No|                       3|           45|          E2|                      42.84|                      42.84|                   0.0|           No|                       No|  Male|           Agency|         4|     INFRA|    Noida| 27|    Joined|
|   4|      2115021|          No|                      26|           30|          E2|                      42.84|                      42.84|                   0.0|           No|                       No|  Male|Employee Referral|         4|     INFRA|    Noida| 34|    Joined|
|   5|      2115125|         Yes|                       1|          120|          E2|                      42.59|                      42.59|                   0.0|           No|                      Yes|  Male|Employee Referral|         6|     INFRA|    Noida| 34|    Joined|
|   6|      2117167|         Yes|                      17|           30|          E1|                      42.83|                      42.83|                   0.0|           No|                       No|  Male|Employee Referral|         2|     INFRA|    Noida| 34|    Joined|
|   7|      2119124|         Yes|                      37|           30|          E2|                      31.58|                      31.58|                   0.0|           No|                       No|  Male|Employee Referral|         7|     INFRA|    Noida| 32|    Joined|
|   9|      2127572|         Yes|                      16|            0|          E1|                      -20.0|                      -20.0|                   0.0|           No|                       No|Female|           Direct|         8|Healthcare|    Noida| 34|    Joined|
|  11|      2138169|          No|                       1|           30|          E1|                     -22.22|                     -22.22|                   0.0|           No|                       No|Female|Employee Referral|         3|      BFSI|  Gurgaon| 26|    Joined|
|  12|      2143362|          No|                       6|           30|          E1|                      240.0|                      220.0|                 -5.88|           No|                       No|  Male|Employee Referral|         3|      CSMP|  Chennai| 34|    Joined|
|  13|      2151180|          No|                     120|           30|          E2|                       5.26|                     -60.53|                 -62.5|           No|                       No|  Male|Employee Referral|         3|     INFRA|    Noida| 34|Not Joined|
|  14|      2154264|          No|                       3|            0|          E2|                      28.21|                      37.18|                   7.0|           No|                       No|  Male|Employee Referral|         7|     INFRA|  Chennai| 34|    Joined|
|  15|      2156236|         Yes|                      14|           30|          E2|                       50.0|                      287.5|                158.33|           No|                       No|  Male|           Agency|         7|     INFRA|    Noida| 29|Not Joined|
|  16|      2158703|          No|                      44|           75|          E2|                      45.45|                       60.0|                  10.0|           No|                       No|  Male|           Direct|         8|     INFRA|    Noida| 34|Not Joined|
|  17|      2161257|          No|                       7|           30|          E3|                      53.85|                       50.0|                  -2.5|           No|                       No|  Male|Employee Referral|         5|     INFRA|    Noida| 34|Not Joined|
|  18|      2162487|          No|                       1|           30|          E3|                     -27.31|                     -27.31|                   0.0|           No|                       No|  Male|           Direct|        18|       ETS|Bangalore| 34|    Joined|
|  19|      2166041|         Yes|                      98|           30|          E2|                       50.0|                     165.36|                 76.91|           No|                       No|  Male|           Agency|         8|     INFRA|    Noida| 36|Not Joined|
|  20|      2172982|          No|                       1|            0|          E2|                       30.0|                       30.0|                   0.0|           No|                       No|  Male|           Direct|         6|     INFRA|    Noida| 34|    Joined|
|  21|      2173730|          No|                       1|           30|          E1|                     -13.42|                      42.86|                  65.0|           No|                       No|  Male|           Direct|         1|     INFRA|  Gurgaon| 34|    Joined|
|  22|      2175237|          No|                       7|           30|          E1|                     221.43|                     164.29|                -17.78|           No|                       No|  Male|           Direct|         2|       ERS|    Noida| 34|    Joined|
+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+---+----------+
only showing top 20 rows

Checking the columns of the dataframe

In [13]:
df_pyspark.columns

['SLNO',
 'Candidate Ref',
 'DOJ Extended',
 'Duration to accept offer',
 'Notice period',
 'Offered band',
 'Pecent hike expected in CTC',
 'Percent hike offered in CTC',
 'Percent difference CTC',
 'Joining Bonus',
 'Candidate relocate actual',
 'Gender',
 'Candidate Source',
 'Rex in Yrs',
 'LOB',
 'Location',
 'Age',
 'Status']

Top 5 elements from the dataframe

In [14]:
df_pyspark.head(5)

[Row(SLNO=1, Candidate Ref=2110407, DOJ Extended='Yes', Duration to accept offer=14, Notice period=30, Offered band='E2', Pecent hike expected in CTC=-20.79, Percent hike offered in CTC=13.16, Percent difference CTC=42.86, Joining Bonus='No', Candidate relocate actual='No', Gender='Female', Candidate Source='Agency', Rex in Yrs=7, LOB='ERS', Location='Noida', Age=34, Status='Joined'),
 Row(SLNO=2, Candidate Ref=2112635, DOJ Extended='No', Duration to accept offer=18, Notice period=30, Offered band='E2', Pecent hike expected in CTC=50.0, Percent hike offered in CTC=320.0, Percent difference CTC=180.0, Joining Bonus='No', Candidate relocate actual='No', Gender='Male', Candidate Source='Employee Referral', Rex in Yrs=8, LOB='INFRA', Location='Chennai', Age=34, Status='Joined'),
 Row(SLNO=3, Candidate Ref=2112838, DOJ Extended='No', Duration to accept offer=3, Notice period=45, Offered band='E2', Pecent hike expected in CTC=42.84, Percent hike offered in CTC=42.84, Percent difference CTC=0.0, Joining Bonus='No', Candidate relocate actual='No', Gender='Male', Candidate Source='Agency', Rex in Yrs=4, LOB='INFRA', Location='Noida', Age=27, Status='Joined'),
 Row(SLNO=4, Candidate Ref=2115021, DOJ Extended='No', Duration to accept offer=26, Notice period=30, Offered band='E2', Pecent hike expected in CTC=42.84, Percent hike offered in CTC=42.84, Percent difference CTC=0.0, Joining Bonus='No', Candidate relocate actual='No', Gender='Male', Candidate Source='Employee Referral', Rex in Yrs=4, LOB='INFRA', Location='Noida', Age=34, Status='Joined'),
 Row(SLNO=5, Candidate Ref=2115125, DOJ Extended='Yes', Duration to accept offer=1, Notice period=120, Offered band='E2', Pecent hike expected in CTC=42.59, Percent hike offered in CTC=42.59, Percent difference CTC=0.0, Joining Bonus='No', Candidate relocate actual='Yes', Gender='Male', Candidate Source='Employee Referral', Rex in Yrs=6, LOB='INFRA', Location='Noida', Age=34, Status='Joined')]

Selecting one column and reviewing the entire column

In [16]:
df_pyspark.select('Candidate Source').show()

+-----------------+
| Candidate Source|
+-----------------+
|           Agency|
|Employee Referral|
|           Agency|
|Employee Referral|
|Employee Referral|
|Employee Referral|
|Employee Referral|
|           Direct|
|Employee Referral|
|Employee Referral|
|Employee Referral|
|Employee Referral|
|           Agency|
|           Direct|
|Employee Referral|
|           Direct|
|           Agency|
|           Direct|
|           Direct|
|           Direct|
+-----------------+
only showing top 20 rows

In [18]:
type(df_pyspark.select('Candidate Source'))

pyspark.sql.dataframe.DataFrame

In [20]:
df_pyspark.select(['Candidate Source','Age']).show()

+-----------------+---+
| Candidate Source|Age|
+-----------------+---+
|           Agency| 34|
|Employee Referral| 34|
|           Agency| 27|
|Employee Referral| 34|
|Employee Referral| 34|
|Employee Referral| 34|
|Employee Referral| 32|
|           Direct| 34|
|Employee Referral| 26|
|Employee Referral| 34|
|Employee Referral| 34|
|Employee Referral| 34|
|           Agency| 29|
|           Direct| 34|
|Employee Referral| 34|
|           Direct| 34|
|           Agency| 36|
|           Direct| 34|
|           Direct| 34|
|           Direct| 34|
+-----------------+---+
only showing top 20 rows

Checking the datatypes

In [21]:
df_pyspark.dtypes

[('SLNO', 'int'),
 ('Candidate Ref', 'int'),
 ('DOJ Extended', 'string'),
 ('Duration to accept offer', 'int'),
 ('Notice period', 'int'),
 ('Offered band', 'string'),
 ('Pecent hike expected in CTC', 'double'),
 ('Percent hike offered in CTC', 'double'),
 ('Percent difference CTC', 'double'),
 ('Joining Bonus', 'string'),
 ('Candidate relocate actual', 'string'),
 ('Gender', 'string'),
 ('Candidate Source', 'string'),
 ('Rex in Yrs', 'int'),
 ('LOB', 'string'),
 ('Location', 'string'),
 ('Age', 'int'),
 ('Status', 'string')]

Checking the describe operation in PySpark just like Pandas

In [22]:
df_pyspark.describe().show()

23/12/17 21:00:11 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+------------------+-----------------+------------+------------------------+------------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+------------------+----+---------+------------------+----------+
|summary|              SLNO|    Candidate Ref|DOJ Extended|Duration to accept offer|     Notice period|Offered band|Pecent hike expected in CTC|Percent hike offered in CTC|Percent difference CTC|Joining Bonus|Candidate relocate actual|Gender| Candidate Source|        Rex in Yrs| LOB| Location|               Age|    Status|
+-------+------------------+-----------------+------------+------------------------+------------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+------------------+----+---------+------------------+----------+
|  count|              8995|             8995|        8995|                    8995|              8995|        8995|                       8995|                       8995|                  8995|         8995|                     8995|  8995|             8995|              8995|8995|     8995|              8995|      8995|
|   mean| 5970.984324624792|2843647.377765425|        NULL|      21.434463590883823| 39.29182879377432|        NULL|          43.86480377987742|          40.65735630906044|   -1.5738021122846075|         NULL|                     NULL|  NULL|             NULL| 4.239021678710395|NULL|     NULL|29.913173985547527|      NULL|
| stddev|3373.9634540786838|486344.7745519215|        NULL|      25.811615717050906|22.220239481838103|        NULL|          29.78897499097193|          36.06405981089342|    19.610728841580432|         NULL|                     NULL|  NULL|             NULL|2.5475706093546893|NULL|     NULL| 4.097912018199918|      NULL|
|    min|                 1|          2109586|          No|                       0|                 0|          E0|                     -68.83|                     -60.53|                -67.27|           No|                       No|Female|           Agency|                 0|AXON|Ahmedabad|                20|    Joined|
|    max|             12333|          3836076|         Yes|                     224|               120|          E3|                     359.77|                     471.43|                 300.0|          Yes|                      Yes|  Male|Employee Referral|                24| MMS|     Pune|                60|Not Joined|
+-------+------------------+-----------------+------------+------------------------+------------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+------------------+----+---------+------------------+----------+

Adding new column in the existing dataframe

In [23]:
df_pyspark.withColumn('Age after 2 years',df_pyspark['Age']+2).show()

+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+---+----------+-----------------+
|SLNO|Candidate Ref|DOJ Extended|Duration to accept offer|Notice period|Offered band|Pecent hike expected in CTC|Percent hike offered in CTC|Percent difference CTC|Joining Bonus|Candidate relocate actual|Gender| Candidate Source|Rex in Yrs|       LOB| Location|Age|    Status|Age after 2 years|
+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+---+----------+-----------------+
|   1|      2110407|         Yes|                      14|           30|          E2|                     -20.79|                      13.16|                 42.86|           No|                       No|Female|           Agency|         7|       ERS|    Noida| 34|    Joined|               36|
|   2|      2112635|          No|                      18|           30|          E2|                       50.0|                      320.0|                 180.0|           No|                       No|  Male|Employee Referral|         8|     INFRA|  Chennai| 34|    Joined|               36|
|   3|      2112838|          No|                       3|           45|          E2|                      42.84|                      42.84|                   0.0|           No|                       No|  Male|           Agency|         4|     INFRA|    Noida| 27|    Joined|               29|
|   4|      2115021|          No|                      26|           30|          E2|                      42.84|                      42.84|                   0.0|           No|                       No|  Male|Employee Referral|         4|     INFRA|    Noida| 34|    Joined|               36|
|   5|      2115125|         Yes|                       1|          120|          E2|                      42.59|                      42.59|                   0.0|           No|                      Yes|  Male|Employee Referral|         6|     INFRA|    Noida| 34|    Joined|               36|
|   6|      2117167|         Yes|                      17|           30|          E1|                      42.83|                      42.83|                   0.0|           No|                       No|  Male|Employee Referral|         2|     INFRA|    Noida| 34|    Joined|               36|
|   7|      2119124|         Yes|                      37|           30|          E2|                      31.58|                      31.58|                   0.0|           No|                       No|  Male|Employee Referral|         7|     INFRA|    Noida| 32|    Joined|               34|
|   9|      2127572|         Yes|                      16|            0|          E1|                      -20.0|                      -20.0|                   0.0|           No|                       No|Female|           Direct|         8|Healthcare|    Noida| 34|    Joined|               36|
|  11|      2138169|          No|                       1|           30|          E1|                     -22.22|                     -22.22|                   0.0|           No|                       No|Female|Employee Referral|         3|      BFSI|  Gurgaon| 26|    Joined|               28|
|  12|      2143362|          No|                       6|           30|          E1|                      240.0|                      220.0|                 -5.88|           No|                       No|  Male|Employee Referral|         3|      CSMP|  Chennai| 34|    Joined|               36|
|  13|      2151180|          No|                     120|           30|          E2|                       5.26|                     -60.53|                 -62.5|           No|                       No|  Male|Employee Referral|         3|     INFRA|    Noida| 34|Not Joined|               36|
|  14|      2154264|          No|                       3|            0|          E2|                      28.21|                      37.18|                   7.0|           No|                       No|  Male|Employee Referral|         7|     INFRA|  Chennai| 34|    Joined|               36|
|  15|      2156236|         Yes|                      14|           30|          E2|                       50.0|                      287.5|                158.33|           No|                       No|  Male|           Agency|         7|     INFRA|    Noida| 29|Not Joined|               31|
|  16|      2158703|          No|                      44|           75|          E2|                      45.45|                       60.0|                  10.0|           No|                       No|  Male|           Direct|         8|     INFRA|    Noida| 34|Not Joined|               36|
|  17|      2161257|          No|                       7|           30|          E3|                      53.85|                       50.0|                  -2.5|           No|                       No|  Male|Employee Referral|         5|     INFRA|    Noida| 34|Not Joined|               36|
|  18|      2162487|          No|                       1|           30|          E3|                     -27.31|                     -27.31|                   0.0|           No|                       No|  Male|           Direct|        18|       ETS|Bangalore| 34|    Joined|               36|
|  19|      2166041|         Yes|                      98|           30|          E2|                       50.0|                     165.36|                 76.91|           No|                       No|  Male|           Agency|         8|     INFRA|    Noida| 36|Not Joined|               38|
|  20|      2172982|          No|                       1|            0|          E2|                       30.0|                       30.0|                   0.0|           No|                       No|  Male|           Direct|         6|     INFRA|    Noida| 34|    Joined|               36|
|  21|      2173730|          No|                       1|           30|          E1|                     -13.42|                      42.86|                  65.0|           No|                       No|  Male|           Direct|         1|     INFRA|  Gurgaon| 34|    Joined|               36|
|  22|      2175237|          No|                       7|           30|          E1|                     221.43|                     164.29|                -17.78|           No|                       No|  Male|           Direct|         2|       ERS|    Noida| 34|    Joined|               36|
+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+---+----------+-----------------+
only showing top 20 rows

Dropping columns from the existing dataframe

In [24]:
df_pyspark.drop('Age after 2 years')

DataFrame[SLNO: int, Candidate Ref: int, DOJ Extended: string, Duration to accept offer: int, Notice period: int, Offered band: string, Pecent hike expected in CTC: double, Percent hike offered in CTC: double, Percent difference CTC: double, Joining Bonus: string, Candidate relocate actual: string, Gender: string, Candidate Source: string, Rex in Yrs: int, LOB: string, Location: string, Age: int, Status: string]

In [26]:
df_pyspark = df_pyspark.drop('Age after 2 years')

In [27]:
df_pyspark.show()

+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+---+----------+
|SLNO|Candidate Ref|DOJ Extended|Duration to accept offer|Notice period|Offered band|Pecent hike expected in CTC|Percent hike offered in CTC|Percent difference CTC|Joining Bonus|Candidate relocate actual|Gender| Candidate Source|Rex in Yrs|       LOB| Location|Age|    Status|
+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+---+----------+
|   1|      2110407|         Yes|                      14|           30|          E2|                     -20.79|                      13.16|                 42.86|           No|                       No|Female|           Agency|         7|       ERS|    Noida| 34|    Joined|
|   2|      2112635|          No|                      18|           30|          E2|                       50.0|                      320.0|                 180.0|           No|                       No|  Male|Employee Referral|         8|     INFRA|  Chennai| 34|    Joined|
|   3|      2112838|          No|                       3|           45|          E2|                      42.84|                      42.84|                   0.0|           No|                       No|  Male|           Agency|         4|     INFRA|    Noida| 27|    Joined|
|   4|      2115021|          No|                      26|           30|          E2|                      42.84|                      42.84|                   0.0|           No|                       No|  Male|Employee Referral|         4|     INFRA|    Noida| 34|    Joined|
|   5|      2115125|         Yes|                       1|          120|          E2|                      42.59|                      42.59|                   0.0|           No|                      Yes|  Male|Employee Referral|         6|     INFRA|    Noida| 34|    Joined|
|   6|      2117167|         Yes|                      17|           30|          E1|                      42.83|                      42.83|                   0.0|           No|                       No|  Male|Employee Referral|         2|     INFRA|    Noida| 34|    Joined|
|   7|      2119124|         Yes|                      37|           30|          E2|                      31.58|                      31.58|                   0.0|           No|                       No|  Male|Employee Referral|         7|     INFRA|    Noida| 32|    Joined|
|   9|      2127572|         Yes|                      16|            0|          E1|                      -20.0|                      -20.0|                   0.0|           No|                       No|Female|           Direct|         8|Healthcare|    Noida| 34|    Joined|
|  11|      2138169|          No|                       1|           30|          E1|                     -22.22|                     -22.22|                   0.0|           No|                       No|Female|Employee Referral|         3|      BFSI|  Gurgaon| 26|    Joined|
|  12|      2143362|          No|                       6|           30|          E1|                      240.0|                      220.0|                 -5.88|           No|                       No|  Male|Employee Referral|         3|      CSMP|  Chennai| 34|    Joined|
|  13|      2151180|          No|                     120|           30|          E2|                       5.26|                     -60.53|                 -62.5|           No|                       No|  Male|Employee Referral|         3|     INFRA|    Noida| 34|Not Joined|
|  14|      2154264|          No|                       3|            0|          E2|                      28.21|                      37.18|                   7.0|           No|                       No|  Male|Employee Referral|         7|     INFRA|  Chennai| 34|    Joined|
|  15|      2156236|         Yes|                      14|           30|          E2|                       50.0|                      287.5|                158.33|           No|                       No|  Male|           Agency|         7|     INFRA|    Noida| 29|Not Joined|
|  16|      2158703|          No|                      44|           75|          E2|                      45.45|                       60.0|                  10.0|           No|                       No|  Male|           Direct|         8|     INFRA|    Noida| 34|Not Joined|
|  17|      2161257|          No|                       7|           30|          E3|                      53.85|                       50.0|                  -2.5|           No|                       No|  Male|Employee Referral|         5|     INFRA|    Noida| 34|Not Joined|
|  18|      2162487|          No|                       1|           30|          E3|                     -27.31|                     -27.31|                   0.0|           No|                       No|  Male|           Direct|        18|       ETS|Bangalore| 34|    Joined|
|  19|      2166041|         Yes|                      98|           30|          E2|                       50.0|                     165.36|                 76.91|           No|                       No|  Male|           Agency|         8|     INFRA|    Noida| 36|Not Joined|
|  20|      2172982|          No|                       1|            0|          E2|                       30.0|                       30.0|                   0.0|           No|                       No|  Male|           Direct|         6|     INFRA|    Noida| 34|    Joined|
|  21|      2173730|          No|                       1|           30|          E1|                     -13.42|                      42.86|                  65.0|           No|                       No|  Male|           Direct|         1|     INFRA|  Gurgaon| 34|    Joined|
|  22|      2175237|          No|                       7|           30|          E1|                     221.43|                     164.29|                -17.78|           No|                       No|  Male|           Direct|         2|       ERS|    Noida| 34|    Joined|
+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+---+----------+
only showing top 20 rows

In [25]:
df_pyspark.drop('Age after 2 years').show()

+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+---+----------+
|SLNO|Candidate Ref|DOJ Extended|Duration to accept offer|Notice period|Offered band|Pecent hike expected in CTC|Percent hike offered in CTC|Percent difference CTC|Joining Bonus|Candidate relocate actual|Gender| Candidate Source|Rex in Yrs|       LOB| Location|Age|    Status|
+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+---+----------+
|   1|      2110407|         Yes|                      14|           30|          E2|                     -20.79|                      13.16|                 42.86|           No|                       No|Female|           Agency|         7|       ERS|    Noida| 34|    Joined|
|   2|      2112635|          No|                      18|           30|          E2|                       50.0|                      320.0|                 180.0|           No|                       No|  Male|Employee Referral|         8|     INFRA|  Chennai| 34|    Joined|
|   3|      2112838|          No|                       3|           45|          E2|                      42.84|                      42.84|                   0.0|           No|                       No|  Male|           Agency|         4|     INFRA|    Noida| 27|    Joined|
|   4|      2115021|          No|                      26|           30|          E2|                      42.84|                      42.84|                   0.0|           No|                       No|  Male|Employee Referral|         4|     INFRA|    Noida| 34|    Joined|
|   5|      2115125|         Yes|                       1|          120|          E2|                      42.59|                      42.59|                   0.0|           No|                      Yes|  Male|Employee Referral|         6|     INFRA|    Noida| 34|    Joined|
|   6|      2117167|         Yes|                      17|           30|          E1|                      42.83|                      42.83|                   0.0|           No|                       No|  Male|Employee Referral|         2|     INFRA|    Noida| 34|    Joined|
|   7|      2119124|         Yes|                      37|           30|          E2|                      31.58|                      31.58|                   0.0|           No|                       No|  Male|Employee Referral|         7|     INFRA|    Noida| 32|    Joined|
|   9|      2127572|         Yes|                      16|            0|          E1|                      -20.0|                      -20.0|                   0.0|           No|                       No|Female|           Direct|         8|Healthcare|    Noida| 34|    Joined|
|  11|      2138169|          No|                       1|           30|          E1|                     -22.22|                     -22.22|                   0.0|           No|                       No|Female|Employee Referral|         3|      BFSI|  Gurgaon| 26|    Joined|
|  12|      2143362|          No|                       6|           30|          E1|                      240.0|                      220.0|                 -5.88|           No|                       No|  Male|Employee Referral|         3|      CSMP|  Chennai| 34|    Joined|
|  13|      2151180|          No|                     120|           30|          E2|                       5.26|                     -60.53|                 -62.5|           No|                       No|  Male|Employee Referral|         3|     INFRA|    Noida| 34|Not Joined|
|  14|      2154264|          No|                       3|            0|          E2|                      28.21|                      37.18|                   7.0|           No|                       No|  Male|Employee Referral|         7|     INFRA|  Chennai| 34|    Joined|
|  15|      2156236|         Yes|                      14|           30|          E2|                       50.0|                      287.5|                158.33|           No|                       No|  Male|           Agency|         7|     INFRA|    Noida| 29|Not Joined|
|  16|      2158703|          No|                      44|           75|          E2|                      45.45|                       60.0|                  10.0|           No|                       No|  Male|           Direct|         8|     INFRA|    Noida| 34|Not Joined|
|  17|      2161257|          No|                       7|           30|          E3|                      53.85|                       50.0|                  -2.5|           No|                       No|  Male|Employee Referral|         5|     INFRA|    Noida| 34|Not Joined|
|  18|      2162487|          No|                       1|           30|          E3|                     -27.31|                     -27.31|                   0.0|           No|                       No|  Male|           Direct|        18|       ETS|Bangalore| 34|    Joined|
|  19|      2166041|         Yes|                      98|           30|          E2|                       50.0|                     165.36|                 76.91|           No|                       No|  Male|           Agency|         8|     INFRA|    Noida| 36|Not Joined|
|  20|      2172982|          No|                       1|            0|          E2|                       30.0|                       30.0|                   0.0|           No|                       No|  Male|           Direct|         6|     INFRA|    Noida| 34|    Joined|
|  21|      2173730|          No|                       1|           30|          E1|                     -13.42|                      42.86|                  65.0|           No|                       No|  Male|           Direct|         1|     INFRA|  Gurgaon| 34|    Joined|
|  22|      2175237|          No|                       7|           30|          E1|                     221.43|                     164.29|                -17.78|           No|                       No|  Male|           Direct|         2|       ERS|    Noida| 34|    Joined|
+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+---+----------+
only showing top 20 rows

In [28]:
df_pyspark = df_pyspark.drop('Age after 2 years')

In [29]:
df_pyspark.show()

+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+---+----------+
|SLNO|Candidate Ref|DOJ Extended|Duration to accept offer|Notice period|Offered band|Pecent hike expected in CTC|Percent hike offered in CTC|Percent difference CTC|Joining Bonus|Candidate relocate actual|Gender| Candidate Source|Rex in Yrs|       LOB| Location|Age|    Status|
+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+---+----------+
|   1|      2110407|         Yes|                      14|           30|          E2|                     -20.79|                      13.16|                 42.86|           No|                       No|Female|           Agency|         7|       ERS|    Noida| 34|    Joined|
|   2|      2112635|          No|                      18|           30|          E2|                       50.0|                      320.0|                 180.0|           No|                       No|  Male|Employee Referral|         8|     INFRA|  Chennai| 34|    Joined|
|   3|      2112838|          No|                       3|           45|          E2|                      42.84|                      42.84|                   0.0|           No|                       No|  Male|           Agency|         4|     INFRA|    Noida| 27|    Joined|
|   4|      2115021|          No|                      26|           30|          E2|                      42.84|                      42.84|                   0.0|           No|                       No|  Male|Employee Referral|         4|     INFRA|    Noida| 34|    Joined|
|   5|      2115125|         Yes|                       1|          120|          E2|                      42.59|                      42.59|                   0.0|           No|                      Yes|  Male|Employee Referral|         6|     INFRA|    Noida| 34|    Joined|
|   6|      2117167|         Yes|                      17|           30|          E1|                      42.83|                      42.83|                   0.0|           No|                       No|  Male|Employee Referral|         2|     INFRA|    Noida| 34|    Joined|
|   7|      2119124|         Yes|                      37|           30|          E2|                      31.58|                      31.58|                   0.0|           No|                       No|  Male|Employee Referral|         7|     INFRA|    Noida| 32|    Joined|
|   9|      2127572|         Yes|                      16|            0|          E1|                      -20.0|                      -20.0|                   0.0|           No|                       No|Female|           Direct|         8|Healthcare|    Noida| 34|    Joined|
|  11|      2138169|          No|                       1|           30|          E1|                     -22.22|                     -22.22|                   0.0|           No|                       No|Female|Employee Referral|         3|      BFSI|  Gurgaon| 26|    Joined|
|  12|      2143362|          No|                       6|           30|          E1|                      240.0|                      220.0|                 -5.88|           No|                       No|  Male|Employee Referral|         3|      CSMP|  Chennai| 34|    Joined|
|  13|      2151180|          No|                     120|           30|          E2|                       5.26|                     -60.53|                 -62.5|           No|                       No|  Male|Employee Referral|         3|     INFRA|    Noida| 34|Not Joined|
|  14|      2154264|          No|                       3|            0|          E2|                      28.21|                      37.18|                   7.0|           No|                       No|  Male|Employee Referral|         7|     INFRA|  Chennai| 34|    Joined|
|  15|      2156236|         Yes|                      14|           30|          E2|                       50.0|                      287.5|                158.33|           No|                       No|  Male|           Agency|         7|     INFRA|    Noida| 29|Not Joined|
|  16|      2158703|          No|                      44|           75|          E2|                      45.45|                       60.0|                  10.0|           No|                       No|  Male|           Direct|         8|     INFRA|    Noida| 34|Not Joined|
|  17|      2161257|          No|                       7|           30|          E3|                      53.85|                       50.0|                  -2.5|           No|                       No|  Male|Employee Referral|         5|     INFRA|    Noida| 34|Not Joined|
|  18|      2162487|          No|                       1|           30|          E3|                     -27.31|                     -27.31|                   0.0|           No|                       No|  Male|           Direct|        18|       ETS|Bangalore| 34|    Joined|
|  19|      2166041|         Yes|                      98|           30|          E2|                       50.0|                     165.36|                 76.91|           No|                       No|  Male|           Agency|         8|     INFRA|    Noida| 36|Not Joined|
|  20|      2172982|          No|                       1|            0|          E2|                       30.0|                       30.0|                   0.0|           No|                       No|  Male|           Direct|         6|     INFRA|    Noida| 34|    Joined|
|  21|      2173730|          No|                       1|           30|          E1|                     -13.42|                      42.86|                  65.0|           No|                       No|  Male|           Direct|         1|     INFRA|  Gurgaon| 34|    Joined|
|  22|      2175237|          No|                       7|           30|          E1|                     221.43|                     164.29|                -17.78|           No|                       No|  Male|           Direct|         2|       ERS|    Noida| 34|    Joined|
+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+---+----------+
only showing top 20 rows

Renaming the columns

In [31]:
df_pyspark.withColumnRenamed('Age','New Age')

DataFrame[SLNO: int, Candidate Ref: int, DOJ Extended: string, Duration to accept offer: int, Notice period: int, Offered band: string, Pecent hike expected in CTC: double, Percent hike offered in CTC: double, Percent difference CTC: double, Joining Bonus: string, Candidate relocate actual: string, Gender: string, Candidate Source: string, Rex in Yrs: int, LOB: string, Location: string, New Age: int, Status: string]

In [32]:
df_pyspark = df_pyspark.withColumnRenamed('Age','New Age')

In [33]:
df_pyspark.show()

+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+-------+----------+
|SLNO|Candidate Ref|DOJ Extended|Duration to accept offer|Notice period|Offered band|Pecent hike expected in CTC|Percent hike offered in CTC|Percent difference CTC|Joining Bonus|Candidate relocate actual|Gender| Candidate Source|Rex in Yrs|       LOB| Location|New Age|    Status|
+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+-------+----------+
|   1|      2110407|         Yes|                      14|           30|          E2|                     -20.79|                      13.16|                 42.86|           No|                       No|Female|           Agency|         7|       ERS|    Noida|     34|    Joined|
|   2|      2112635|          No|                      18|           30|          E2|                       50.0|                      320.0|                 180.0|           No|                       No|  Male|Employee Referral|         8|     INFRA|  Chennai|     34|    Joined|
|   3|      2112838|          No|                       3|           45|          E2|                      42.84|                      42.84|                   0.0|           No|                       No|  Male|           Agency|         4|     INFRA|    Noida|     27|    Joined|
|   4|      2115021|          No|                      26|           30|          E2|                      42.84|                      42.84|                   0.0|           No|                       No|  Male|Employee Referral|         4|     INFRA|    Noida|     34|    Joined|
|   5|      2115125|         Yes|                       1|          120|          E2|                      42.59|                      42.59|                   0.0|           No|                      Yes|  Male|Employee Referral|         6|     INFRA|    Noida|     34|    Joined|
|   6|      2117167|         Yes|                      17|           30|          E1|                      42.83|                      42.83|                   0.0|           No|                       No|  Male|Employee Referral|         2|     INFRA|    Noida|     34|    Joined|
|   7|      2119124|         Yes|                      37|           30|          E2|                      31.58|                      31.58|                   0.0|           No|                       No|  Male|Employee Referral|         7|     INFRA|    Noida|     32|    Joined|
|   9|      2127572|         Yes|                      16|            0|          E1|                      -20.0|                      -20.0|                   0.0|           No|                       No|Female|           Direct|         8|Healthcare|    Noida|     34|    Joined|
|  11|      2138169|          No|                       1|           30|          E1|                     -22.22|                     -22.22|                   0.0|           No|                       No|Female|Employee Referral|         3|      BFSI|  Gurgaon|     26|    Joined|
|  12|      2143362|          No|                       6|           30|          E1|                      240.0|                      220.0|                 -5.88|           No|                       No|  Male|Employee Referral|         3|      CSMP|  Chennai|     34|    Joined|
|  13|      2151180|          No|                     120|           30|          E2|                       5.26|                     -60.53|                 -62.5|           No|                       No|  Male|Employee Referral|         3|     INFRA|    Noida|     34|Not Joined|
|  14|      2154264|          No|                       3|            0|          E2|                      28.21|                      37.18|                   7.0|           No|                       No|  Male|Employee Referral|         7|     INFRA|  Chennai|     34|    Joined|
|  15|      2156236|         Yes|                      14|           30|          E2|                       50.0|                      287.5|                158.33|           No|                       No|  Male|           Agency|         7|     INFRA|    Noida|     29|Not Joined|
|  16|      2158703|          No|                      44|           75|          E2|                      45.45|                       60.0|                  10.0|           No|                       No|  Male|           Direct|         8|     INFRA|    Noida|     34|Not Joined|
|  17|      2161257|          No|                       7|           30|          E3|                      53.85|                       50.0|                  -2.5|           No|                       No|  Male|Employee Referral|         5|     INFRA|    Noida|     34|Not Joined|
|  18|      2162487|          No|                       1|           30|          E3|                     -27.31|                     -27.31|                   0.0|           No|                       No|  Male|           Direct|        18|       ETS|Bangalore|     34|    Joined|
|  19|      2166041|         Yes|                      98|           30|          E2|                       50.0|                     165.36|                 76.91|           No|                       No|  Male|           Agency|         8|     INFRA|    Noida|     36|Not Joined|
|  20|      2172982|          No|                       1|            0|          E2|                       30.0|                       30.0|                   0.0|           No|                       No|  Male|           Direct|         6|     INFRA|    Noida|     34|    Joined|
|  21|      2173730|          No|                       1|           30|          E1|                     -13.42|                      42.86|                  65.0|           No|                       No|  Male|           Direct|         1|     INFRA|  Gurgaon|     34|    Joined|
|  22|      2175237|          No|                       7|           30|          E1|                     221.43|                     164.29|                -17.78|           No|                       No|  Male|           Direct|         2|       ERS|    Noida|     34|    Joined|
+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+-------+----------+
only showing top 20 rows