# PySpark Code Testing - 1
# Basic queries

In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /Users/soumobratamanna/miniforge3/lib/python3.9/site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /Users/soumobratamanna/miniforge3/lib/python3.9/site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pyspark

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('/Users/soumobratamanna/Documents/Data_Science_Projects/tensorflow-test/hr_data.csv')

In [5]:
data.head(10)

,SLNO,Candidate Ref,DOJ Extended,Duration to accept offer,Notice period,Offered band,Pecent hike expected in CTC,Percent hike offered in CTC,Percent difference CTC,Joining Bonus,Candidate relocate actual,Gender,Candidate Source,Rex in Yrs,LOB,Location,Age,Status
0,1,2110407,Yes,14,30,E2,-20.79,13.16,42.86,No,No,Female,Agency,7,ERS,Noida,34,Joined
1,2,2112635,No,18,30,E2,50.00,320.00,180.00,No,No,Male,Employee Referral,8,INFRA,Chennai,34,Joined
2,3,2112838,No,3,45,E2,42.84,42.84,0.00,No,No,Male,Agency,4,INFRA,Noida,27,Joined
3,4,2115021,No,26,30,E2,42.84,42.84,0.00,No,No,Male,Employee Referral,4,INFRA,Noida,34,Joined
4,5,2115125,Yes,1,120,E2,42.59,42.59,0.00,No,Yes,Male,Employee Referral,6,INFRA,Noida,34,Joined
5,6,2117167,Yes,17,30,E1,42.83,42.83,0.00,No,No,Male,Employee Referral,2,INFRA,Noida,34,Joined
6,7,2119124,Yes,37,30,E2,31.58,31.58,0.00,No,No,Male,Employee Referral,7,INFRA,Noida,32,Joined
7,9,2127572,Yes,16,0,E1,-20.00,-20.00,0.00,No,No,Female,Direct,8,Healthcare,Noida,34,Joined
8,11,2138169,No,1,30,E1,-22.22,-22.22,0.00,No,No,Female,Employee Referral,3,BFSI,Gurgaon,26,Joined
9,12,2143362,No,6,30,E1,240.00,220.00,-5.88,No,No,Male,Employee Referral,3,CSMP,Chennai,34,Joined

Starting Spark Sessions

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.appName('Testing').getOrCreate()

23/12/17 14:08:16 WARN Utils: Your hostname, Soumobratas-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.9 instead (on interface en0)
23/12/17 14:08:16 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/17 14:08:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [8]:
spark

Reading CSV file using Pyspark

In [9]:
data_pyspark = spark.read.csv('/Users/soumobratamanna/Documents/Data_Science_Projects/tensorflow-test/hr_data.csv')

Showing dataframe

In [10]:
data_pyspark.show()

+----+-------------+------------+--------------------+-------------+------------+--------------------+--------------------+--------------------+-------------+--------------------+------+-----------------+----------+----------+---------+----+----------+
| _c0|          _c1|         _c2|                 _c3|          _c4|         _c5|                 _c6|                 _c7|                 _c8|          _c9|                _c10|  _c11|             _c12|      _c13|      _c14|     _c15|_c16|      _c17|
+----+-------------+------------+--------------------+-------------+------------+--------------------+--------------------+--------------------+-------------+--------------------+------+-----------------+----------+----------+---------+----+----------+
|SLNO|Candidate Ref|DOJ Extended|Duration to accep...|Notice period|Offered band|Pecent hike expec...|Percent hike offe...|Percent differenc...|Joining Bonus|Candidate relocat...|Gender| Candidate Source|Rex in Yrs|       LOB| Location| Age|    Status|
|   1|      2110407|         Yes|                  14|           30|          E2|              -20.79|               13.16|               42.86|           No|                  No|Female|           Agency|         7|       ERS|    Noida|  34|    Joined|
|   2|      2112635|          No|                  18|           30|          E2|                  50|                 320|                 180|           No|                  No|  Male|Employee Referral|         8|     INFRA|  Chennai|  34|    Joined|
|   3|      2112838|          No|                   3|           45|          E2|               42.84|               42.84|                   0|           No|                  No|  Male|           Agency|         4|     INFRA|    Noida|  27|    Joined|
|   4|      2115021|          No|                  26|           30|          E2|               42.84|               42.84|                   0|           No|                  No|  Male|Employee Referral|         4|     INFRA|    Noida|  34|    Joined|
|   5|      2115125|         Yes|                   1|          120|          E2|               42.59|               42.59|                   0|           No|                 Yes|  Male|Employee Referral|         6|     INFRA|    Noida|  34|    Joined|
|   6|      2117167|         Yes|                  17|           30|          E1|               42.83|               42.83|                   0|           No|                  No|  Male|Employee Referral|         2|     INFRA|    Noida|  34|    Joined|
|   7|      2119124|         Yes|                  37|           30|          E2|               31.58|               31.58|                   0|           No|                  No|  Male|Employee Referral|         7|     INFRA|    Noida|  32|    Joined|
|   9|      2127572|         Yes|                  16|            0|          E1|                 -20|                 -20|                   0|           No|                  No|Female|           Direct|         8|Healthcare|    Noida|  34|    Joined|
|  11|      2138169|          No|                   1|           30|          E1|              -22.22|              -22.22|                   0|           No|                  No|Female|Employee Referral|         3|      BFSI|  Gurgaon|  26|    Joined|
|  12|      2143362|          No|                   6|           30|          E1|                 240|                 220|               -5.88|           No|                  No|  Male|Employee Referral|         3|      CSMP|  Chennai|  34|    Joined|
|  13|      2151180|          No|                 120|           30|          E2|                5.26|              -60.53|               -62.5|           No|                  No|  Male|Employee Referral|         3|     INFRA|    Noida|  34|Not Joined|
|  14|      2154264|          No|                   3|            0|          E2|               28.21|               37.18|                   7|           No|                  No|  Male|Employee Referral|         7|     INFRA|  Chennai|  34|    Joined|
|  15|      2156236|         Yes|                  14|           30|          E2|                  50|               287.5|              158.33|           No|                  No|  Male|           Agency|         7|     INFRA|    Noida|  29|Not Joined|
|  16|      2158703|          No|                  44|           75|          E2|               45.45|                  60|                  10|           No|                  No|  Male|           Direct|         8|     INFRA|    Noida|  34|Not Joined|
|  17|      2161257|          No|                   7|           30|          E3|               53.85|                  50|                -2.5|           No|                  No|  Male|Employee Referral|         5|     INFRA|    Noida|  34|Not Joined|
|  18|      2162487|          No|                   1|           30|          E3|              -27.31|              -27.31|                   0|           No|                  No|  Male|           Direct|        18|       ETS|Bangalore|  34|    Joined|
|  19|      2166041|         Yes|                  98|           30|          E2|                  50|              165.36|               76.91|           No|                  No|  Male|           Agency|         8|     INFRA|    Noida|  36|Not Joined|
|  20|      2172982|          No|                   1|            0|          E2|                  30|                  30|                   0|           No|                  No|  Male|           Direct|         6|     INFRA|    Noida|  34|    Joined|
|  21|      2173730|          No|                   1|           30|          E1|              -13.42|               42.86|                  65|           No|                  No|  Male|           Direct|         1|     INFRA|  Gurgaon|  34|    Joined|
+----+-------------+------------+--------------------+-------------+------------+--------------------+--------------------+--------------------+-------------+--------------------+------+-----------------+----------+----------+---------+----+----------+
only showing top 20 rows

Changing the first row value to header using header true key value pair option in Pyspark

In [11]:
spark.read.option('header','true').csv('/Users/soumobratamanna/Documents/Data_Science_Projects/tensorflow-test/hr_data.csv')

DataFrame[SLNO: string, Candidate Ref: string, DOJ Extended: string, Duration to accept offer: string, Notice period: string, Offered band: string, Pecent hike expected in CTC: string, Percent hike offered in CTC: string, Percent difference CTC: string, Joining Bonus: string, Candidate relocate actual: string, Gender: string, Candidate Source: string, Rex in Yrs: string, LOB: string, Location: string, Age: string, Status: string]

In [12]:
spark.read.option('header','true').csv('/Users/soumobratamanna/Documents/Data_Science_Projects/tensorflow-test/hr_data.csv').show()

+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+---+----------+
|SLNO|Candidate Ref|DOJ Extended|Duration to accept offer|Notice period|Offered band|Pecent hike expected in CTC|Percent hike offered in CTC|Percent difference CTC|Joining Bonus|Candidate relocate actual|Gender| Candidate Source|Rex in Yrs|       LOB| Location|Age|    Status|
+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+---+----------+
|   1|      2110407|         Yes|                      14|           30|          E2|                     -20.79|                      13.16|                 42.86|           No|                       No|Female|           Agency|         7|       ERS|    Noida| 34|    Joined|
|   2|      2112635|          No|                      18|           30|          E2|                         50|                        320|                   180|           No|                       No|  Male|Employee Referral|         8|     INFRA|  Chennai| 34|    Joined|
|   3|      2112838|          No|                       3|           45|          E2|                      42.84|                      42.84|                     0|           No|                       No|  Male|           Agency|         4|     INFRA|    Noida| 27|    Joined|
|   4|      2115021|          No|                      26|           30|          E2|                      42.84|                      42.84|                     0|           No|                       No|  Male|Employee Referral|         4|     INFRA|    Noida| 34|    Joined|
|   5|      2115125|         Yes|                       1|          120|          E2|                      42.59|                      42.59|                     0|           No|                      Yes|  Male|Employee Referral|         6|     INFRA|    Noida| 34|    Joined|
|   6|      2117167|         Yes|                      17|           30|          E1|                      42.83|                      42.83|                     0|           No|                       No|  Male|Employee Referral|         2|     INFRA|    Noida| 34|    Joined|
|   7|      2119124|         Yes|                      37|           30|          E2|                      31.58|                      31.58|                     0|           No|                       No|  Male|Employee Referral|         7|     INFRA|    Noida| 32|    Joined|
|   9|      2127572|         Yes|                      16|            0|          E1|                        -20|                        -20|                     0|           No|                       No|Female|           Direct|         8|Healthcare|    Noida| 34|    Joined|
|  11|      2138169|          No|                       1|           30|          E1|                     -22.22|                     -22.22|                     0|           No|                       No|Female|Employee Referral|         3|      BFSI|  Gurgaon| 26|    Joined|
|  12|      2143362|          No|                       6|           30|          E1|                        240|                        220|                 -5.88|           No|                       No|  Male|Employee Referral|         3|      CSMP|  Chennai| 34|    Joined|
|  13|      2151180|          No|                     120|           30|          E2|                       5.26|                     -60.53|                 -62.5|           No|                       No|  Male|Employee Referral|         3|     INFRA|    Noida| 34|Not Joined|
|  14|      2154264|          No|                       3|            0|          E2|                      28.21|                      37.18|                     7|           No|                       No|  Male|Employee Referral|         7|     INFRA|  Chennai| 34|    Joined|
|  15|      2156236|         Yes|                      14|           30|          E2|                         50|                      287.5|                158.33|           No|                       No|  Male|           Agency|         7|     INFRA|    Noida| 29|Not Joined|
|  16|      2158703|          No|                      44|           75|          E2|                      45.45|                         60|                    10|           No|                       No|  Male|           Direct|         8|     INFRA|    Noida| 34|Not Joined|
|  17|      2161257|          No|                       7|           30|          E3|                      53.85|                         50|                  -2.5|           No|                       No|  Male|Employee Referral|         5|     INFRA|    Noida| 34|Not Joined|
|  18|      2162487|          No|                       1|           30|          E3|                     -27.31|                     -27.31|                     0|           No|                       No|  Male|           Direct|        18|       ETS|Bangalore| 34|    Joined|
|  19|      2166041|         Yes|                      98|           30|          E2|                         50|                     165.36|                 76.91|           No|                       No|  Male|           Agency|         8|     INFRA|    Noida| 36|Not Joined|
|  20|      2172982|          No|                       1|            0|          E2|                         30|                         30|                     0|           No|                       No|  Male|           Direct|         6|     INFRA|    Noida| 34|    Joined|
|  21|      2173730|          No|                       1|           30|          E1|                     -13.42|                      42.86|                    65|           No|                       No|  Male|           Direct|         1|     INFRA|  Gurgaon| 34|    Joined|
|  22|      2175237|          No|                       7|           30|          E1|                     221.43|                     164.29|                -17.78|           No|                       No|  Male|           Direct|         2|       ERS|    Noida| 34|    Joined|
+----+-------------+------------+------------------------+-------------+------------+---------------------------+---------------------------+----------------------+-------------+-------------------------+------+-----------------+----------+----------+---------+---+----------+
only showing top 20 rows

Saving under a variable for further execution

In [13]:
data_pyspark = spark.read.option('header','true').csv('/Users/soumobratamanna/Documents/Data_Science_Projects/tensorflow-test/hr_data.csv')

Checking the type of variable created

In [14]:
type(data_pyspark)

pyspark.sql.dataframe.DataFrame

In [15]:
data_pyspark.head()

Row(SLNO='1', Candidate Ref='2110407', DOJ Extended='Yes', Duration to accept offer='14', Notice period='30', Offered band='E2', Pecent hike expected in CTC='-20.79', Percent hike offered in CTC='13.16', Percent difference CTC='42.86', Joining Bonus='No', Candidate relocate actual='No', Gender='Female', Candidate Source='Agency', Rex in Yrs='7', LOB='ERS', Location='Noida', Age='34', Status='Joined')

Checking the overall schema structure using printSchema() function

In [16]:
data_pyspark.printSchema()

root
 |-- SLNO: string (nullable = true)
 |-- Candidate Ref: string (nullable = true)
 |-- DOJ Extended: string (nullable = true)
 |-- Duration to accept offer: string (nullable = true)
 |-- Notice period: string (nullable = true)
 |-- Offered band: string (nullable = true)
 |-- Pecent hike expected in CTC: string (nullable = true)
 |-- Percent hike offered in CTC: string (nullable = true)
 |-- Percent difference CTC: string (nullable = true)
 |-- Joining Bonus: string (nullable = true)
 |-- Candidate relocate actual: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Candidate Source: string (nullable = true)
 |-- Rex in Yrs: string (nullable = true)
 |-- LOB: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Status: string (nullable = true)