# PySpark_Coding_Testing_3 - Handling Missing Values

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Testing_2').getOrCreate()

23/12/18 19:31:28 WARN Utils: Your hostname, Soumobratas-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.2 instead (on interface en0)
23/12/18 19:31:28 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/18 19:31:32 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
spark

In [3]:
spark.read.csv('sample_dataframe.csv',header=True,inferSchema=True)

DataFrame[Name: string, Age: int, City: string]

In [4]:
spark.read.csv('sample_dataframe.csv',header=True,inferSchema=True).show()

+---------+----+---------+
|     Name| Age|     City|
+---------+----+---------+
|    Soumo|  23|Bangalore|
|  Subrata|  53|  Chennai|
|Anindita |  50|  Chennai|
|  Purnima|NULL|Bangalore|
|      Uma|  80|     NULL|
+---------+----+---------+

In [5]:
df_pyspark = spark.read.csv('sample_dataframe.csv',header=True,inferSchema=True)

In [6]:
df_pyspark.show()

+---------+----+---------+
|     Name| Age|     City|
+---------+----+---------+
|    Soumo|  23|Bangalore|
|  Subrata|  53|  Chennai|
|Anindita |  50|  Chennai|
|  Purnima|NULL|Bangalore|
|      Uma|  80|     NULL|
+---------+----+---------+

Dropping the Null values will result in dropping the entire columns using na.drop

In [7]:
df_pyspark.na.drop().show()

+---------+---+---------+
|     Name|Age|     City|
+---------+---+---------+
|    Soumo| 23|Bangalore|
|  Subrata| 53|  Chennai|
|Anindita | 50|  Chennai|
+---------+---+---------+

In [8]:
#### dropping in condition of any==how
##df_pyspark.na.drop(how="all").show -- will drop the rows which contains all null values 
##df_pyspark.na.drop(how='any').show -- will drop the rows which contains any one null values

In [9]:
##threshold - means whichever value is being selected , it will check the dataframe and will delete the rows with mentioned number of threshold value
##Like if thresh=2, then it iwll check the dataframe for rows which has 2 null values and based on that it drop the entire row

In [10]:
##subset
## in subset whicheber column is being mentioned it checks for null vlaues and deletes the entire rows

In [11]:
df_pyspark.show()

+---------+----+---------+
|     Name| Age|     City|
+---------+----+---------+
|    Soumo|  23|Bangalore|
|  Subrata|  53|  Chennai|
|Anindita |  50|  Chennai|
|  Purnima|NULL|Bangalore|
|      Uma|  80|     NULL|
+---------+----+---------+

In [12]:
df_pyspark.na.drop(how='any').show()

+---------+---+---------+
|     Name|Age|     City|
+---------+---+---------+
|    Soumo| 23|Bangalore|
|  Subrata| 53|  Chennai|
|Anindita | 50|  Chennai|
+---------+---+---------+

In [13]:
df_pyspark.na.drop(how='any',thresh=1,subset=['City']).show()

+---------+----+---------+
|     Name| Age|     City|
+---------+----+---------+
|    Soumo|  23|Bangalore|
|  Subrata|  53|  Chennai|
|Anindita |  50|  Chennai|
|  Purnima|NULL|Bangalore|
+---------+----+---------+

In the above column Age contains Null values even after using thresh =1 because subset prarmater is there which contains city as a the vlaue

Filling the missing values

In [14]:
df_pyspark.na.fill('Missing values').show()

+---------+----+--------------+
|     Name| Age|          City|
+---------+----+--------------+
|    Soumo|  23|     Bangalore|
|  Subrata|  53|       Chennai|
|Anindita |  50|       Chennai|
|  Purnima|NULL|     Bangalore|
|      Uma|  80|Missing values|
+---------+----+--------------+

In [15]:
df_pyspark.na.fill('Missing values','Age').show()

+---------+----+---------+
|     Name| Age|     City|
+---------+----+---------+
|    Soumo|  23|Bangalore|
|  Subrata|  53|  Chennai|
|Anindita |  50|  Chennai|
|  Purnima|NULL|Bangalore|
|      Uma|  80|     NULL|
+---------+----+---------+

In [16]:
df_pyspark.show()

+---------+----+---------+
|     Name| Age|     City|
+---------+----+---------+
|    Soumo|  23|Bangalore|
|  Subrata|  53|  Chennai|
|Anindita |  50|  Chennai|
|  Purnima|NULL|Bangalore|
|      Uma|  80|     NULL|
+---------+----+---------+

Filling the null values with the mean

In [17]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Age'],
    outputCols = ["{}_imputed".format(c)for c in ['Age']]

).setStrategy('mean')

In [18]:
##Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+----+---------+-----------+
|     Name| Age|     City|Age_imputed|
+---------+----+---------+-----------+
|    Soumo|  23|Bangalore|         23|
|  Subrata|  53|  Chennai|         53|
|Anindita |  50|  Chennai|         50|
|  Purnima|NULL|Bangalore|         51|
|      Uma|  80|     NULL|         80|
+---------+----+---------+-----------+