# Pyspark code Testing - 5
# Aggregate and Groupby Condition

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Agg').getOrCreate()

23/12/18 20:07:05 WARN Utils: Your hostname, Soumobratas-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.2 instead (on interface en0)
23/12/18 20:07:05 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/18 20:07:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/12/18 20:07:06 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/12/18 20:07:06 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [3]:
spark

In [4]:
df_pyspark = spark.read.csv('sample_dataframe.csv',header=True,inferSchema=True)

In [5]:
df_pyspark.show()

+---------+---+---------+------+
|     Name|Age|     City|salary|
+---------+---+---------+------+
|    Soumo| 23|Bangalore|  1000|
|  Subrata| 53|  Chennai|  2000|
|Anindita | 50|  Chennai|  3000|
|  Purnima| 75|Bangalore|   800|
|      Uma| 80|  Chennai|   600|
|    Soumo| 23|  Chennai|  1200|
|  Subrata| 53|  Kolkata|   900|
|Anindita | 50|  Kolkata|   800|
+---------+---+---------+------+

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- salary: integer (nullable = true)

GroupBy Functions
    Grouped to find the maximum salary
    
    SUM

In [8]:
df_pyspark.groupBy('Name').sum().show()

+---------+--------+-----------+
|     Name|sum(Age)|sum(salary)|
+---------+--------+-----------+
|  Subrata|     106|       2900|
|Anindita |     100|       3800|
|  Purnima|      75|        800|
|    Soumo|      46|       2200|
|      Uma|      80|        600|
+---------+--------+-----------+

In [9]:
df_pyspark.groupBy('City').sum().show()

+---------+--------+-----------+
|     City|sum(Age)|sum(salary)|
+---------+--------+-----------+
|Bangalore|      98|       1800|
|  Chennai|     206|       6800|
|  Kolkata|     103|       1700|
+---------+--------+-----------+

MEAN

In [10]:
df_pyspark.groupBy('Name').mean().show()

+---------+--------+-----------+
|     Name|avg(Age)|avg(salary)|
+---------+--------+-----------+
|  Subrata|    53.0|     1450.0|
|Anindita |    50.0|     1900.0|
|  Purnima|    75.0|      800.0|
|    Soumo|    23.0|     1100.0|
|      Uma|    80.0|      600.0|
+---------+--------+-----------+

COUNT

In [12]:
df_pyspark.groupBy('City').count().show()

+---------+-----+
|     City|count|
+---------+-----+
|Bangalore|    2|
|  Chennai|    4|
|  Kolkata|    2|
+---------+-----+

Direct Aggregate functions to columns

In [13]:
df_pyspark.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      10300|
+-----------+

MAX salary

In [14]:
df_pyspark.groupBy('Name').max().show()

+---------+--------+-----------+
|     Name|max(Age)|max(salary)|
+---------+--------+-----------+
|  Subrata|      53|       2000|
|Anindita |      50|       3000|
|  Purnima|      75|        800|
|    Soumo|      23|       1200|
|      Uma|      80|        600|
+---------+--------+-----------+

MIN salary

In [15]:
df_pyspark.groupBy('Name').min().show()

+---------+--------+-----------+
|     Name|min(Age)|min(salary)|
+---------+--------+-----------+
|  Subrata|      53|        900|
|Anindita |      50|        800|
|  Purnima|      75|        800|
|    Soumo|      23|       1000|
|      Uma|      80|        600|
+---------+--------+-----------+

Averag

In [16]:
df_pyspark.groupBy('Name').avg().show()

+---------+--------+-----------+
|     Name|avg(Age)|avg(salary)|
+---------+--------+-----------+
|  Subrata|    53.0|     1450.0|
|Anindita |    50.0|     1900.0|
|  Purnima|    75.0|      800.0|
|    Soumo|    23.0|     1100.0|
|      Uma|    80.0|      600.0|
+---------+--------+-----------+